pyrogram==1.4.6
py-tgcalls==0.9.1
TgCrypto
python-dotenv
youtube_search_python 
requests
aiohttp
aiofiles
asyncio
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow
ujson
git+https://github.com/Mehmetbaba06/sensizolmaz
git+https://github.com/Mahoaga06/mahotube
git+https://github.com/Mahoaga06/albeni
